/* START NAVBAR Button Animation */
.navbar-toggle {
  border: none;
  background: transparent !important;
  margin-right: 0;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
/* END NAVBAR Button Animation */

body.locked {
  overflow-y: hidden;
}

.page-breadcrumb {
  background: #4385b3;
}

.page-breadcrumb > ol {
  background: transparent;
}

.page-breadcrumb > ol > li > a {
  color: #fff;
}

.page-breadcrumb > ol > li.active {
  color: #fff;
}

.main-container.container {
  padding: 0;
  margin: 0;
  width: 100% !important;
}

.main-container .page-container {
  margin-top: 50px;
}

.main-top {
  padding: 10px 15px;
  height: 85px;
  font-size: 18px;
  position: relative;
}

.main-top > *:not(img) {
  position: relative;
}

.main-top > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.navbar-default {
  border: 0;
  border-radius: 0;
  background: #01426a;
  color: #fff;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.navbar-default .navbar-header {

  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand img {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li.main {
  position: initial;
}

.navbar-default .navbar-nav>li.main>a {
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid #5192c1;
  font-weight: 500;
}

#navbar {
  border: 0;
  position: fixed;
  bottom: 0;
  left: -100%;
  z-index: 1;
  width: 100%;
  height: calc(100% - 50px)  !important;
  background: #4385b3;
  overflow-y: hidden !important;
  overflow-x: hidden  !important;
  top: 50px;
  padding: 0;
  margin: 0;
}

#navbar .navbar-nav {
  margin: 0;
  height: calc(100% - 85px);
  overflow-y: auto;
}

.navbar-default .navbar-nav>li.main>a>.main-image>img {
  width: 29px;
  height: 29px;
}
.navbar-default .navbar-nav>li.main>a>.main-text{
  margin-left: 11px;
}

.navbar-default .navbar-nav>li.main>a>.main-button {
  position: absolute;
  right: 0;
  background: #5594b9;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  transition: all 150ms;
}

.navbar-default .navbar-nav>li.main>a>.main-button>i {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
/* .navbar-default .navbar-nav>li>a {
  background: #5594b9;
  color: #fff;

} */
.navbar-default li.main > a:focus  {
  color: #5594b9;
  background: #fff;
  outline: none;
  transition: all 500ms;
}

.navbar-default .navbar-nav>li>a:focus>.main-button {
  background: #fff;
  transition: all 500ms;
}

.navbar-default .navbar-nav>li>a:focus>.main-button>i {
  color: #5594b9;
  transition: all 500ms;
}

.navbar-default .navbar-nav>li.main>.main-submenu {
  border-left: 1px solid #7fb2dc;
  position: absolute;
  top: 85px;
  width: calc(100% - 44px);
  right: -100%;
  height: calc(100% - 85px);
  background: #4385b3;
  z-index: 10;
  transition: all 150ms;
}

.navbar-default .navbar-nav>li.main.main-open>.main-submenu {
  right: 0;
  transition: all 150ms;
  transition-delay: 400ms;
}

.navbar-default .navbar-nav>li.main>.main-submenu>.main-submenu-title {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 15px;
  background: #5594b9;
  outline: none;
  text-decoration: none;
  position: relative;
}

.navbar-default .navbar-nav>li.main>.main-submenu>.main-submenu-title > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(.8);
  right: 0;
}

.soft-icon {
  opacity: .3;
}

.main-submenu li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  font-weight: 500 !important;
  color: #fff !important;
}

.main-submenu > .navbar-nav > li.dropdown > a  {
  border-bottom: 1px solid #5192c1 !important;
}

.main-submenu > ul > li.dropdown .dropdown-menu >li>a{
  background: #6e9fc5;
}

.main-submenu > ul > li.dropdown .dropdown-menu {
  padding: 0;
}

.navbar-default .navbar-nav .main-submenu li > a:focus {
  background: #5594b9 !important;
}

.main-submenu > ul > li.dropdown.open .dropdown-menu > li > a {
  background: #5594b9 !important;
}

.main-submenu > ul > li.dropdown.open a {
  border-bottom: 1px solid #7aa4c1;
}

.main-submenu > ul > li.dropdown a > span > i {
  transition: all 150ms;
}

.main-submenu > ul > li.dropdown.open a > span > i {
  transform: rotate(180deg);
  transition: all 150ms;
}

.dropdown-toggle > span {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-nav>li {
      float: none;
    }

    .navbar-default ul {
      width: 100%;
    }

    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

}


* {
  outline: none;
}

/*

menu-image {
width: 65px;
height: 65px;
}

*/
